canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}


#legend {
    width:50%;
    height:300px;
    line-height:2em;
    overflow:auto;
    padding:5px;
    grid-area: legend;
}
#b1 {
    grid-area: b1;
}
#b2 {
    grid-area: b2;
}

#w1 {
    grid-area: w1;
}

#w2 {
    grid-area: w2;
}

#nfzbut {
    grid-area:nfzbut;
}

#suplbut {
    grid-area:suplbut;
}

#piecbut {
    grid-area:piecbut;
}

#partbut {
    grid-area:partbut;
}

#doughnutchoose {
    grid-area:doughnutchoose;
}

body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 15% 20% 25% 25%;
    grid-template-areas:
    ". . . b1 b2"
    "w1 w1 . legend legend"
    "w2 w2 doughnutchoose legend legend"
    "nfzbut suplbut . . ."
    "piecbut partbut . . .";

    
}