.international {
    height: 100px;
    width: 700px;
    background-color: #cccccc;
    border: black;
    border-style: solid;
    border-width: 10px;
    display: grid;
    grid-template-rows: 30% 40% 30%;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    ". ."
    "name form"
    ". .";
}

.international p {
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-area: name;
}

.international form {
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-area: form;
}