{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>{% block title %}{% endblock %}</title>
	<meta name="description" content="A minimalist Bootstrap theme by StartBootstrap. Contains everything you need to get started building your website. All you have to do is change the text and images.">
    <link href="{% static 'drug_search/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'drug_search/css/modern-business.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'drug_search/css/query.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'drug_search/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    {% block end_of_head %}{% endblock %}
</head>

<body>
    {% block navigation %}{% endblock %}
    <div class="container">
        {% block features_section %}{% endblock %}
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Adam Rempała, Szymon Sadkowski, Szymon Stolarczyk, 2020 | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
                </div>
            </div>
        </footer>

    </div>

    <script src="{% static 'drug_search/js/jquery.js' %}"></script>
    <script src="{% static 'drug_search/js/bootstrap.min.js' %}"></script>
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    {% block body_end %}{% endblock %}
</body>

</html>
