{% if page_obj.has_other_pages %}
	<ul class="pagination">
	{% if page_obj.has_previous %}
		<li><span onclick="change_page(1);">1</span></li>
		{% if page_obj.number > 3 %}
			<li class="disabled"><span>...</span></li>
		{% endif %}
		{% if page_obj.previous_page_number != 1 %}
			<li><span onclick="change_page({{ page_obj.previous_page_number }});">{{ page_obj.previous_page_number }}</span></li>
		{% endif %}
	{% endif %}
	<li class="active"><span>{{ page_obj.number }}<span class="sr-only">(current)</span></span></li>
	{% if page_obj.has_next %}
		<li><span onclick="change_page({{ page_obj.next_page_number }});">{{ page_obj.next_page_number }}</span></li>
		{% if page_obj.number|add:3 <= page_obj.paginator.num_pages %}
			<li class="disabled"><span>...</span></li>
		{% endif %}
		{% if page_obj.next_page_number != page_obj.paginator.num_pages %}
			<li><span onclick="change_page({{ page_obj.paginator.num_pages }});">{{ page_obj.paginator.num_pages }}</span></li>
		{% endif %}
	{% endif %}
	</ul>
{% endif %}
