{% extends 'drug_search/base.html' %}
{% load static %}

{% block title %}System analizy leków refundowanych{% endblock %}

{% block end_of_head %}
    <link href="{% static 'drug_search/css/charts.css' %}" rel="stylesheet">
    <link href="{% static 'drug_search/css/table.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script>let dane = {{ data|safe }}</script>
{% endblock %}

{% block navigation %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'drug-search' %}">System analizy leków refundowanych</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block features_section %}
       <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{{ substance }}</h2>
                <p>Dane z lat 2018 – 2019</p>
            </div>
            <div class="col-md-8">
                <div id="doughnutchoose2">
                    <div id="hidedoughnut">
                        <div class="col-md-6">
                            <p>Rok</p>
                            <input id="2018" type="button" value="2018" data-year="2018" disabled>
                            <input id="2019" type="button" value="2019" data-year="2019" disabled>
                        </div>
                        <div class="col-md-6">
                            <p>Miesiąc</p>
                            <input id="cze" type="button" value="czerwiec" data-sem="1" disabled>
                            <input id="gru" type="button" value="grudzień" data-sem="2" disabled>
                        </div>
                    </div>
                </div>
                <div id="w1" class="wykres">
                    <canvas id="chart"></canvas>
                </div>
                <input id="nfzbut" type="button" value="Dopł. NFZ">
                <input id="suplbut" type="button" value="Dopł. pacj.">
                <input id="piecbut" type="button" value="Sprzed. paczki">
                <input id="partbut" type="button" value="Udz. sprzedanych">
                <p id="date"></p>
            </div>
            <div class="col-md-4">
                <input id="b1" type="button" value="Zaznacz wszystko">
                <input id="b2" type="button" value="Odznacz wszystko">
                <div id="groupbut" style='display:none'>
                    <input id="singlesgrp" type="button" value="Oddzielnie">
                    <input id="prodsgrp" type="button" value="Wg producentów">
                    <input id="namesgrp" type="button" value="Wg Nazw" disabled>
                </div>
                <div id ="legend">
                    <table id="spis">
                    </table> 
                </div>
                
            </div>
        </div>
{% endblock  %}

{% block body_end %}
    <script type="text/javascript" src="{% static 'drug_search/js/const.js' %}"></script>
    <script type="text/javascript" src="{% static 'drug_search/js/charting.js' %}"></script>
    <script type="text/javascript" src="{% static 'drug_search/js/listen.js' %}"></script>
{% endblock %}
