{% extends 'drug_search/base.html' %}
{% load static %}

{% block title %}
System analizy leków refundowanych
{% endblock %}

{% block end_of_head %}
<script>
    function change_page(page) {
        let url = new URL(window.location.href);
        url.searchParams.set('page', page);
        window.location.href = url.toString();
    }
</script>
{% endblock %}

{% block navigation %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'drug-search' %}">System analizy leków refundowanych</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block features_section %}
<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Znajdź substancję aktywną</h2>
            </div>
            <div class="col-md-6">
                <div id="rezultaty">
                    {% for substance in page_obj %}
                    <form action="chart.html" method="get">
                        <div class="international" onclick="window.location = '{% url 'substance-page' substance %}'">
                            <p>{{ substance }}</p>
                        </div>
                    </form>
                    {% endfor %}
                </div>
                {% include 'drug_search/paginator.html' %}
            </div>
            <div class="col-md-6">
                <div id="findmedicine">
                    <form method="get">
                        <label for="phrase">Nazwa:</label><input type="text" id="phrase" name="phrase" value="{{phrase}}"><br><br>
                        <label for="increasing">Sortuj rosnąco:</label><input type="checkbox" id="increasing" name="increasing" value="on"
                        {% if sort_inc %}checked{% endif %}><br><br>
                        <label for="scores">Wyników na stronę:</label>
                        <select id="scores" name="per_page">
                        {% for i in results_per_page %}
                            <option value="{{ i }}"{% if per_page == i %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                        </select><br><br>
                        <div class="center"><input TYPE="submit" VALUE="Szukaj"></div>
                    </form>
                </div>
            </div>
        </div>
{% endblock  %}
