#findmedicine {
    height: 300px;
    width: 300px;
    background-color: #cccccc;
}

#findmedicine p {
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}