#findmedicine {
    height: 300%;
    width: 100%;
    background-color: #cccccc;
    padding: 10%;
}

.international {
    height: 50px;
    width: 90%;
    margin-bottom: 5px;
    background-color: #cccccc;
    border: black;
    border-style: solid;
    border-width: 5px;
    display: grid;
    grid-template-rows: 30% 40% 30%;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    ". ."
    "name name"
    ". .";
    cursor: pointer;
}

.international p {
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-area: name;
}

.center {
    text-align: center;
}

label {
    margin-right: 4px;
}

.pagination li span {
    cursor: not-allowed;
}

.pagination li span:hover {
    cursor: pointer;
}
